In [94]:
pip install pandas scikit-learn matplotlib seaborn

Requirement already satisfied: pandas in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: scikit-learn in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (1.5.1)
Requirement already satisfied: matplotlib in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (3.8.2)
Requirement already satisfied: seaborn in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.45.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\users\elift\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [95]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

print("Kurulumlar başarılı!")

Kurulumlar başarılı!

In [96]:
# Excel dosyasını okuma
file_name = 'BASVURU.xlsx'
# DataFrame'i daha şık görüntüleme
dff = pd.read_excel(file_name, engine='openpyxl') 
# Tablo görüntüleme
dff.head()

,KISI_ID,BASVURU_ID,YIL,DÖNEM,BASVURU_TIPI,UYRUK,CINSIYET,PUAN,BASARI_DURUMU,KESIN_KAYIT_DURUMU
0,NaN,9,2012,Güz,Uluslararası Öğrenci,İRAN,Kadın,15.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
1,NaN,12,2012,Güz,Uluslararası Öğrenci,TÜRKMENİSTAN,Kadın,5.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
2,NaN,16,2012,Güz,Uluslararası Öğrenci,AZERBAYCAN,Erkek,1430.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
3,NaN,20,2012,Güz,Uluslararası Öğrenci,SURİYE,Erkek,220.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
4,NaN,26,2012,Güz,Uluslararası Öğrenci,TÜRKMENİSTAN,Kadın,76.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI

In [97]:
# Veri setinin boyutlarını öğrenme
print(dff.shape)

(17548, 10)

In [98]:
# Sütun adlarını ve veri tiplerini görüntüleme
print(dff.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17548 entries, 0 to 17547
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   KISI_ID             1026 non-null   float64
 1   BASVURU_ID          17548 non-null  int64
 2   YIL                 17548 non-null  int64
 3   DÖNEM               17548 non-null  object
 4   BASVURU_TIPI        17548 non-null  object
 5   UYRUK               17548 non-null  object
 6   CINSIYET            17548 non-null  object
 7   PUAN                17548 non-null  float64
 8   BASARI_DURUMU       17548 non-null  object
 9   KESIN_KAYIT_DURUMU  17548 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 1.3+ MB
None

In [99]:
# Veri setinin ilk istatistiksel özetini alma
print(dff.describe())

            KISI_ID    BASVURU_ID           YIL          PUAN
count  1.026000e+03  17548.000000  17548.000000  17548.000000
mean   8.479358e+05   6126.239913   2013.821860    114.259668
std    3.680203e+05   3208.415247      0.635975    259.577873
min    3.300000e+01      5.000000   2010.000000      0.000000
25%    1.007124e+06   3857.000000   2014.000000     45.500000
50%    1.007330e+06   6019.500000   2014.000000     67.165000
75%    1.007775e+06   8918.250000   2014.000000     81.250000
max    1.009997e+06  12326.000000   2015.000000   7168.000000

In [100]:
# Hatalı sonuç alamamak adına 'KISI_ID', 'BASVURU_ID' ve 'YIL' sütunlarını kategorik veriye çevirme ve görüntüleme
dff['KISI_ID'] = dff['KISI_ID'].astype('category')
dff['BASVURU_ID'] = dff['BASVURU_ID'].astype('category')
dff['YIL'] = dff['YIL'].astype('category')
print(dff.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17548 entries, 0 to 17547
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   KISI_ID             1026 non-null   category
 1   BASVURU_ID          17548 non-null  category
 2   YIL                 17548 non-null  category
 3   DÖNEM               17548 non-null  object
 4   BASVURU_TIPI        17548 non-null  object
 5   UYRUK               17548 non-null  object
 6   CINSIYET            17548 non-null  object
 7   PUAN                17548 non-null  float64
 8   BASARI_DURUMU       17548 non-null  object
 9   KESIN_KAYIT_DURUMU  17548 non-null  object
dtypes: category(3), float64(1), object(6)
memory usage: 1.4+ MB
None

In [101]:
# Veri setinin istatistiksel özetini alma
print(dff.describe())

               PUAN
count  17548.000000
mean     114.259668
std      259.577873
min        0.000000
25%       45.500000
50%       67.165000
75%       81.250000
max     7168.000000

In [102]:
# Eksik verileri kontrol etme
print(dff.isnull().sum())

KISI_ID               16522
BASVURU_ID                0
YIL                       0
DÖNEM                     0
BASVURU_TIPI              0
UYRUK                     0
CINSIYET                  0
PUAN                      0
BASARI_DURUMU             0
KESIN_KAYIT_DURUMU        0
dtype: int64

In [103]:
# Eksik verileri belirli sütunlar için kontrol etme
for col in dff.columns:
    missing_count = dff[col].isnull().sum()
    if missing_count > 0:
        print(f"{col} sütununda {missing_count} eksik veri var.")

KISI_ID sütununda 16522 eksik veri var.

In [104]:
# KISI_ID sütununu atma
dff = dff.drop(columns=['KISI_ID'])

# İlk birkaç satırı görüntüleme ve sütunun atıldığını doğrulama
print(dff.head())

  BASVURU_ID   YIL DÖNEM          BASVURU_TIPI         UYRUK CINSIYET    PUAN  \
0          9  2012   Güz  Uluslararası Öğrenci          İRAN    Kadın    15.0
1         12  2012   Güz  Uluslararası Öğrenci  TÜRKMENİSTAN    Kadın     5.0
2         16  2012   Güz  Uluslararası Öğrenci    AZERBAYCAN    Erkek  1430.0
3         20  2012   Güz  Uluslararası Öğrenci        SURİYE    Erkek   220.0
4         26  2012   Güz  Uluslararası Öğrenci  TÜRKMENİSTAN    Kadın    76.0

       BASARI_DURUMU   KESIN_KAYIT_DURUMU
0  DEGERLENDIRILMEDI  KESIN KAYIT YAPMADI
1  DEGERLENDIRILMEDI  KESIN KAYIT YAPMADI
2  DEGERLENDIRILMEDI  KESIN KAYIT YAPMADI
3  DEGERLENDIRILMEDI  KESIN KAYIT YAPMADI
4  DEGERLENDIRILMEDI  KESIN KAYIT YAPMADI

In [105]:
# Güncellenmiş veri setinin kaydedilmesi ve görüntülenmesi
dff.to_csv('cleaned_data_without_id.csv', index=False)
dff.head()

,BASVURU_ID,YIL,DÖNEM,BASVURU_TIPI,UYRUK,CINSIYET,PUAN,BASARI_DURUMU,KESIN_KAYIT_DURUMU
0,9,2012,Güz,Uluslararası Öğrenci,İRAN,Kadın,15.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
1,12,2012,Güz,Uluslararası Öğrenci,TÜRKMENİSTAN,Kadın,5.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
2,16,2012,Güz,Uluslararası Öğrenci,AZERBAYCAN,Erkek,1430.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
3,20,2012,Güz,Uluslararası Öğrenci,SURİYE,Erkek,220.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
4,26,2012,Güz,Uluslararası Öğrenci,TÜRKMENİSTAN,Kadın,76.0,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI

In [106]:
# Sütun adlarını görüntüleme
print("Orijinal Sütunlar:", dff.columns)

Orijinal Sütunlar: Index(['BASVURU_ID', 'YIL', 'DÖNEM', 'BASVURU_TIPI', 'UYRUK', 'CINSIYET',
       'PUAN', 'BASARI_DURUMU', 'KESIN_KAYIT_DURUMU'],
      dtype='object')

In [107]:
# Veri setindeki kategorik ve sayısal değişkenleri ayırma
categorical_cols = dff.select_dtypes(include=['object', 'category']).columns
numerical_cols = dff.select_dtypes(include=['number']).columns

print(f"Kategorik Sütunlar: {categorical_cols}")
print(f"Sayısal Sütunlar: {numerical_cols}")

Kategorik Sütunlar: Index(['BASVURU_ID', 'YIL', 'DÖNEM', 'BASVURU_TIPI', 'UYRUK', 'CINSIYET',
       'BASARI_DURUMU', 'KESIN_KAYIT_DURUMU'],
      dtype='object')
Sayısal Sütunlar: Index(['PUAN'], dtype='object')

In [108]:
# Hata kontrolü için kategorik veri içeren sütunların benzersiz değerlerinin görüntülenmesi
unique_values_donem = dff['DÖNEM'].unique()
print("Benzersiz Dönem Değerleri:", unique_values_donem)


unique_values_tip = dff['BASVURU_TIPI'].unique()
print("Benzersiz Başvuru Tipi Değerleri:", unique_values_tip)

unique_values_uyruk = dff['UYRUK'].unique()
print("Benzersiz Uyruk Değerleri:", unique_values_uyruk)

unique_values_cinsiyet = dff['CINSIYET'].unique()
print("Benzersiz Cinsiyet Değerleri:", unique_values_cinsiyet)

unique_values_basari = dff['BASARI_DURUMU'].unique()
print("Benzersiz Başarı Durumu Değerleri:", unique_values_basari)

unique_values_kayit = dff['KESIN_KAYIT_DURUMU'].unique()
print("Benzersiz Kesin Kayıt Durumu Değerleri:", unique_values_kayit)

Benzersiz Dönem Değerleri: ['Güz' 'Bahar']
Benzersiz Başvuru Tipi Değerleri: ['Uluslararası Öğrenci' 'Enstitu' 'Lisans Yatay Geçiş']
Benzersiz Uyruk Değerleri: ['İRAN' 'TÜRKMENİSTAN' 'AZERBAYCAN' 'SURİYE' 'FİLİSTİN' 'YUNANİSTAN'
 'İNGİLTERE / BİRLEŞİK KRALLIK' 'ALMANYA' 'UKRAYNA' 'TACİKİSTAN'
 'ARNAVUTLUK' 'ÖZBEKİSTAN' 'TÜRKİYE' 'MORİTANYA' 'A.B.D.'
 'KUZEY MAKEDONYA' 'KUZEY KIBRIS TÜRK CUMHURİYETİ' 'IRAK' 'KIRGIZİSTAN'
 'AFGANİSTAN' 'AVUSTURYA' 'KENYA' 'KOSOVA' 'MISIR' 'BULGARİSTAN'
 'TANZANYA' 'GÜRCİSTAN' 'SIRBİSTAN' 'FRANSA' 'ÇİN' 'GÜNEY AFRİKA'
 'PAKİSTAN' 'RUSYA' 'ÜRDÜN' 'ROMANYA' 'HOLLANDA' 'SOMALİ' 'ENDONEZYA'
 'SUDAN' 'DANİMARKA' 'GİNE BİSSAU' 'FAS' 'İSRAİL' 'UGANDA'
 'SUUDİ ARABİSTAN' 'ÇAD' 'YEMEN' 'NİJERYA' 'SENEGAL' 'KAMERUN' 'LİBYA'
 'İTALYA' 'TUNUS' 'MALİ' 'GİNE' 'KAZAKİSTAN' 'İSVİÇRE' 'PERU' 'MOLDOVA'
 'GÜNEY KIBRIS RUM KESİMİ' 'BOSNA HERSEK' 'KANADA' 'ETİOPYA' 'KARADAĞ'
 'AMERİKAN SAMOA' 'MOĞOLİSTAN' 'AVUSTRALYA' 'BELÇİKA' 'GANA' 'İSVEÇ'
 'FİLİPİNLER' 'PAPUA YENİ GİNE' 'LÜBNAN' 'ANGOLA' 'NEPAL' 'ZAMBİA' 'BURMA'
 'MAURİTUS' 'JAPONYA']
Benzersiz Cinsiyet Değerleri: ['Kadın' 'Erkek' 'Bilinmeyen']
Benzersiz Başarı Durumu Değerleri: ['DEGERLENDIRILMEDI' 'Kazandı' 'Kazanamadı' 'Başvuru Reddedildi' 'Yedek'
 'Kazanamadı (Mülakat Notu Yetersiz)' 'Kazanamadı (Başarı Notu Yetersiz)']
Benzersiz Kesin Kayıt Durumu Değerleri: ['KESIN KAYIT YAPMADI' 'KESIN KAYIT YAPTI']

In [109]:
# Cinsiyet sütununu yakından inceleme
value_counts_cinsiyet = dff['CINSIYET'].value_counts()
print("Cinsiyet Değerlerinin Sayımları:")
print(value_counts_cinsiyet)

Cinsiyet Değerlerinin Sayımları:
CINSIYET
Erkek         10755
Kadın          6769
Bilinmeyen       24
Name: count, dtype: int64

In [110]:
# Bilinmeyen cinsiyet değerlerine sahip satırları filtreleme
df = dff[dff['CINSIYET'] != 'Bilinmeyen']

# Filtrelenmiş veri setini kontrol etme
print(df['CINSIYET'].value_counts())

CINSIYET
Erkek    10755
Kadın     6769
Name: count, dtype: int64

In [113]:
# Güncellenmiş veri setini kaydetme ve görüntüleme
df.to_csv('corrected_data.csv', index=False)
df

,BASVURU_ID,YIL,DÖNEM,BASVURU_TIPI,UYRUK,CINSIYET,PUAN,BASARI_DURUMU,KESIN_KAYIT_DURUMU
0,9,2012,Güz,Uluslararası Öğrenci,İRAN,Kadın,15.00,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
1,12,2012,Güz,Uluslararası Öğrenci,TÜRKMENİSTAN,Kadın,5.00,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
2,16,2012,Güz,Uluslararası Öğrenci,AZERBAYCAN,Erkek,1430.00,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
3,20,2012,Güz,Uluslararası Öğrenci,SURİYE,Erkek,220.00,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
4,26,2012,Güz,Uluslararası Öğrenci,TÜRKMENİSTAN,Kadın,76.00,DEGERLENDIRILMEDI,KESIN KAYIT YAPMADI
...,...,...,...,...,...,...,...,...,...
17543,12204,2015,Güz,Enstitu,TÜRKİYE,Kadın,75.44,Kazandı,KESIN KAYIT YAPTI
17544,12187,2015,Güz,Enstitu,TÜRKİYE,Kadın,76.50,Kazandı,KESIN KAYIT YAPTI
17545,12231,2015,Güz,Enstitu,TÜRKİYE,Kadın,76.90,Kazandı,KESIN KAYIT YAPTI
17546,12104,2015,Güz,Enstitu,TÜRKİYE,Erkek,77.77,Kazandı,KESIN KAYIT YAPTI
17547,12284,2015,Güz,Enstitu,TÜRKİYE,Kadın,62.94,Kazandı,KESIN KAYIT YAPTI